<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if IE 9]><meta http-equiv='X-UA-Compatible' content='IE=9'><![endif]-->

    <title>Smart Sparrow - unsw-eng-friction
        <%=version %>
    </title>

    <link rel="stylesheet" href="<%= cssUrl %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <script src="<%= jsUrl %>"></script>
</head>

<body>
    <div id="body-mask">
        <div class="car">
        </div>

        <div id="truck-surface" class="rotates-with-slope">

            <div id="support-legs">
                <div id="draggable-left-leg">
                    <div id="left-leg">

                        <div id="legL"></div>
                        <div id="footL"></div>

                    </div>

                </div>

                <div id="right-leg" class="border">
                    <div id="footR"></div>
                    <div id="legR"></div>
                </div>

            </div>
            <div id="draggable-truck">
                <div class="truck">
                    <div id="truck-mass-text">Mass
                        <br/><span style="font-weight: 300;"><div id="truck-mass">3000 kg</div></span>
                    </div>
                </div>

            </div>

            <div id="truck-distance">
                <div id="truck-distance-input">
                    <input class="input-box" value="0" id="truck-to-edge" />
                </div>
                <div id="support-leg-distance-input">
                    <input class="input-box" value="0" id="support-leg-from-truck" />
                </div>
                <div id="truck-distance-notch-at-truck">
                    <div id="dotted-line-to-truck-above" class="rotated270">......................................................................</div>
                </div>
                <div id="truck-distance-notch-at-edge">
                    <div id="dotted-line-to-edge-above" class="rotated270">......................................................................</div>
                </div>

            </div>
            <div id="truck-drag-thumb" class="blue-draggable-thumb-rightleft"></div>
            <div id="support-leg-distance">

                <div id="support-leg-distance-notch-at-truck">

                </div>
                <div id="support-leg-distance-notch-at-leg">
                    <div id="leg-dotted-line-to-leg-above" class="rotated270">......................................................................</div>
                </div>
                <div id="leg-drag-thumb" class="blue-draggable-thumb-rightleft"></div>

            </div>


        </div>

        <div id="slope-base">
            
            <div id="slope-angle-thumb" class="blue-draggable-thumb-updown"></div>
        </div>

        <div id="car-mass-text">Mass
            <br/><span style="font-weight: 300;"><div id="car-mass">1000 kg</div></span>
        </div>
        <div id="slope-angle-input">
          <input class="input-box" value="0" id="slope-angle" />
        </div>
        <div id="slope-angle-label">
          Slope Angle
        </div>
        <div id="friction-input">
          <input class="input-box" value="0" id="friction" />
          Friction Coefficient
        </div>
        <div id="horizontal-distances">
            <div id="truck-to-car-distance-measure">
                <div id="notch-at-truck">
                    <div id="dotted-line-to-truck-below" class="rotated90">......................................................................</div>
                </div>
                <div id="notch-at-leg">
                    <div id="dotted-line-to-leg-below" class="rotated90">......................................................................</div>
                    <div id="distance-to-leg-label">9999</div>
                </div>
                <div id="notch-at-car">
                    <div id="distance-to-car-label">9999</div>
                </div>
            </div>
        </div>
    </div>
    <%=requireScript %>
</body>

</html>
